[package]
name = "rpi_os"
version = "0.1.0"
edition = "2021"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[features]

[[bin]]
name = "kernel"
path = "src/main.rs"

[dependencies]
aarch64-cpu = { version = "11.x.x" }
tock-registers = { version = "0.10.x" }
